@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* Light */
  font-family: "Gibson";
  src: url("./fonts/3FIRx5i8K.otf");
  font-weight: lighter;
}
@font-face {
  /* Regular */
  font-family: "Gibson";
  src: url("./fonts/7KHWmMg4.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* Semibold */
  font-family: "Gibson";
  src: url("./fonts/0RoL04Fvg.otf");
  font-weight: 800;
}
@font-face {
  /* Italic */
  font-family: "Gibson";
  src: url("./fonts/ofITWFYHz.otf");
  font-style: italic;
}

@font-face {
  /* Semibold */
  font-family: "ZillaSlab";
  src: url("./fonts/QWjFV7qw.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  /* Semibold */
  font-family: "ZillaSlab";
  src: url("./fonts/0A33HmL.ttf");
  font-style: normal;
}

::selection {
  background-color: #05A88F;
}

body {
  padding-right: 10px;
  background-color: #0F0F10;
  color: white;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: #05A88F #2c2c2e;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #2c2c2e;
}

body::-webkit-scrollbar-thumb {
  background-color: #05A88F;
}

.main-list li {
  display: flex;
  flex-wrap: wrap;
  transition: all ease-in-out 400ms;
  white-space: nowrap;
  transition: max-height 1s;
  margin-bottom: 30px;
  position: relative;
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  width: 18px;
  height: 18px;
}

.indicator {
  padding: 6px;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  background-color: #262627;
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}

.indicator::before {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #333335;
  display: block;
  content: "";
  transition: background-color .3s;
}

.bullet[is-active-bullet="true"] .indicator {
  background-color: #182b29;
}

.bullet[is-active-bullet="true"] .indicator::before {
  background-color: #4ca899;
}

.indicator-number {
  font-family: "Gibson";
  font-size: 1.31em !important;
  line-height: 1.20em;
  font-weight: 600;
  color: #656565;
  display: none;
  justify-content: center;

}

.indicator-number[active=true]{
  color: #56b1a3;
}

.bullet {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
  word-break: break-all;
}

.main-list li:first-child .bullet {
  border-top: 1px solid transparent;
}

.bullet-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
}

.bullet .ql-editor * {
  background-color: transparent !important;
  color: #D7D9DB !important;
}

.bullet .ql-editor {
  padding-right: 25px;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  flex: 1;
  height: auto;
}

.bullet .ql-editor:focus {
  outline: 0;
}

.bullet .li-input {
  padding-bottom: 5px;
  margin-left: 10px;
  position: relative;
}

.bullet .li-input::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #05A88F;
  transition: width .3s;
}

.bullet[is-active-bullet="true"] .li-input::before {
  width: 100%;
}

.bullet .ql-editor::before {
  color: rgba(235, 235, 245, 0.3);
  font-family: "Gibson";
  font-size: 22px !important;
  font-weight: normal;
  font-style: normal !important;
}

.bullet-char-counter {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 14px;
  color: #3A3A3C;
  font-family: "Gibson";
  transition: opacity .3s;
}

.bullet[is-active-bullet="true"] .bullet-char-counter {
  opacity: 1;
}

.remove-bullet {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  cursor: pointer;
  z-index: 1;
}

.main-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bullet-order {
  display: flex;
  flex-direction: column;
  cursor: grabbing;
}



/* FORMATS */
.li-input {
  font-family: "Gibson";
  display: inline-block;
  flex: 1;
  position: relative;
  padding-bottom: 5px;
}
.li-input p {
  font-family: "Gibson";
  font-size: 1.31em !important;
  line-height: 1.31em;
  font-weight: normal;
  margin-top: 0;
}

.li-input strong {
  font-family: "Gibson";
  font-weight: 800;
}
.li-input code {
  font-family: "Gibson";
  font-style: italic;
}

.li-input .editor-mention {
  color: #05A88F;
  display: inline-block;
}

.li-input .bullet-image {
  border-radius: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  object-fit: contain;
  display: block;
  width: 100%;
}

.bullet .ql-editor a, .bullet .ql-editor .ql-hyperlink, .bullet .ql-editor .ql-hyperlink span {
  text-decoration: none;
  color: #05A88F !important;
  cursor: pointer;
}

.bullet .ql-editor a, .li-input .ql-hashtag, .li-input .ql-mention, .li-input a, .li-input .ql-mention span, .li-input .ql-hashtag span {
  text-decoration: none;
  color: #05A88F !important
}

.image-remove-container {
  display: flex;
  justify-content: flex-end;
}

.image-remove {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('../assets/close-toolbar.svg');
  display: block;
  background-position-x: right;
  background-repeat: no-repeat;
  top: -32px;
  z-index: 99;
  position: relative;
  right: 9px;
}

.editor-link {
  line-height: 4px;
  margin: 8px 0;
  max-width: 590px;
}
.editor-link.loading {
  line-height: 4px;
  background-color: rgb(47,47,47);
  min-height: 220px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  border-bottom: 1px solid #545458A6;
  padding-bottom: 2px;
}

.title-input-container input.text-box {
  padding: 0;
  border: none;
  background-color: #0F0F10;
  color: white;
  font-family: 'Gibson';
  font-size: 2.13em;
  outline: none;
  flex: 1;
}

.title-input-container input.text-box:focus {
  border-color: #05A88F;
}

.title-input-container input.text-box::placeholder {
  color: rgba(235, 235, 245, 0.3);
}

.title-input-container span {
  color: white;
  font-family: 'Gibson';
  font-size: 2.13em;
  display: block;
}

.title-input-container.is-active-part span {
  display: block;
  margin-right: 10px;
}


.image-container {
  transition: all 400ms ease-out;
}

.ql-editor.ql-blank::before{
  font-family: "Gibson";
  font-size: 1.31em !important;
  line-height: 1.31em;
  font-weight: normal;
  left: 0;
}

.add-bullet-btn {
  background-color: transparent;
  box-shadow: none;
  font-family: "Gibson";
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(235, 235, 245, 0.6);
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 30px;
}

.add-bullet-btn:focus {
  box-shadow: none;
}

.add-bullet-btn img {
  margin-right: 12px;
}

.quoted-bullet {
  border-left: 3px solid #2C2C2E;
  padding-left: 6px !important;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-family: "Gibson";
  font-style: italic;
}

.quoted-bullet.ql-editor::before{
  color: rgba(235, 235, 245, 0.3);;
  margin-left: 8px;
}

/* -------- */

@media(max-width: 600px) {
  .editor-link {
    max-width: 450px;
  }

  .title-input-container {
    margin-bottom: 30px;
  }

  .title-input-container input.text-box {
    font-size: 22px;
  }

  .main-list li {
    margin-bottom: 20px;
  }
}

@media(max-width: 510px) {
  .bullet .ql-editor {
    padding-right: 5px;
  }

  .editor-link {
    max-width: 300px;
  }
}